﻿html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

body {
    background-image: url('bghexa.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    height: 353px;
}

.buttonSignOut {
    background-color: #1c5e55;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.buttonUpload {
    background-color: #1c5e55;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}



.buttonUpload:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.divTable {
    overflow: auto;
}

.divSignout {
    margin-top: 8px;
    overflow: auto;
}

.borderName {
    border-bottom: 6px solid #1c5e55;
}

.upload {
    background-color: #1c5e55;
    border-radius: 8px;
    color: white;
}

.textBox {
    border-radius: 8px;
}

