﻿body {
    background-image: url("bghexa.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

.button {
    background-color: #1c5e55;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.borderName {
    border-bottom: 6px solid #1c5e55;
}

.textBox {
    border-radius: 8px;
}
