﻿body {
    background-image: url("bghexa.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

.button {
    background-color: #1c5e55;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.borderName {
    border-bottom: 6px solid #1c5e55;
}



